<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Material Design Icon  -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- CSS: Bulma -->
    <link rel="stylesheet" href="./bulma.min.css">
    <link rel="stylesheet" href="./style.css">
    <script type="module" src="./options.js"></script>
</head>

<body class="dark-mode">
    <!--  has-background-dark has-background-grey-dark has-text-white -->
    <main>

        <div class="bar">
            <!-- Title -->
            <div class="content">
                <p class="title is-2">Screenshots</p>
                <p id="usage" class="subtitle is-6">0 Mb</p>
            </div>

            <!-- Functional Bar -->
            <div class="is-flex is-flex-direction-column">
                <!-- Buttons -->
                <div class="buttons mb-0 is-justify-content-flex-end">

                    <button class="button" id="btn-sort">
                        <span class="icon is-small">
                            <span class="material-symbols-outlined">
                                sort
                            </span>
                        </span>
                    </button>

                    <button class="button" id="btn-mode">
                        <span class="icon is-small">
                            <span class="material-symbols-outlined">
                                dark_mode
                            </span>
                        </span>
                    </button>

                    <button class="button modal-button" data-target="modal-setting">
                        <span class="icon is-small">
                            <span class="material-symbols-outlined">
                                settings
                            </span>
                        </span>
                    </button>

                </div>
                <!-- Filters -->
                <div class="filter-bar block is-flex">
                    <label>Filters: </label>
                    <!-- <div class="control">
                        <input class="input" type="date" id="date-filter">
                    </div> -->
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="select-channel">
                                <option>Channel</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <progress class="progress is-warning" max="100">0%</progress> -->

        <div id="loading" class="content">
            <p>Loading...</p>
        </div>

        <!-- Clone nodes -->
        <div id="main-area" class="block columns is-multiline"></div>

        <!-- style="display: none;" -->
        <div class="sample_item_3 screenshot column is-3 is-relative" style="display: none;">
            <figure class="image">
                <img src="https://bulma.io/images/placeholders/1280x960.png" width="384" height="216">
            </figure>
            <div class="is-overlay transition-opacity"></div>
            <div class="is-absolute p-5 is-flex is-justify-content-space-between" style="width: 100%; top: 0; left: 0;">
                <button class="screenshot-button">
                    <span class="icon is-small">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </span>
                </button>
                <button class="screenshot-button">
                    <span class="icon is-small">
                        <span class="material-symbols-outlined">
                            expand_content
                        </span>
                    </span>
                </button>
            </div>
            <div class="is-absolute p-5 columns" style="min-width: 0; bottom: 0; left: 0; right: 0;">
                <div class="column pr-0" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                    <div class="content mb-0">
                        <p class="title is-6 screenshot-header">channel name</p>
                        <p class="subtitle is-6">time</p>
                    </div>
                </div>
                <div class="column pl-0 is-narrow buttons is-flex-wrap-nowrap">
                    <button class="screenshot-button">
                        <span class="icon is-small">
                            <span class="material-symbols-outlined">
                                content_copy
                            </span>
                        </span>
                    </button>
                    <button class="screenshot-button">
                        <span class="icon is-small">
                            <span class="material-symbols-outlined">
                                download
                            </span>
                        </span>
                    </button>
                </div>
            </div>
        </div>

    </main>

    <!-- Image modal -->
    <div class="modal" id="modal-preview">
        <div class="modal-background"></div>
        <div class="modal-content">
            <p class="image is-16by9">
                <img id="modal-preview-img" src="#">
            </p>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <!-- Setting Modal -->
    <div class="modal" id="modal-setting">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">關於本插件</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <!-- 介紹 -->
                <div class="content">
                    <h4>功能說明</h4>
                    <p>
                        <span>此功能讓使用者能方便的進行Youtube影片截圖(screenshot)。</span>
                        <br>
                        <span>每次截圖後將會有預覽畫面出現在視窗右下角，並且所有的截圖將會保存在<a
                                href="https://developer.chrome.com/docs/extensions/reference/storage/#usage">chrome.storage</a></span>
                    </p>
                    <blockquote>
                        chrome.storage 是 Chrome 瀏覽器插件的專用的儲存API。<br>
                        與 Web Storage API 的 IndexedDB、localStorage 不同的是，即便清除了瀏覽器的 cache 或 history，chrome.storage
                        中的資料仍會保留。<br>
                        如果要刪除 chrome.storage 中的資料，僅能通過插件本身實現的刪除功能進行。</blockquote>
                    <h4>如何截圖</h4>
                    <p>有兩種方式：</p>
                    <ul>
                        <li>當你安裝本插件後，每次開啟Youtube影片時，將會自動在影片控制列加入截圖按鈕。可以透過按下該截圖按鈕進行截圖。</li>
                        <li>或者透過插件的快捷鍵，預設為Ctrl + 向下鍵，快捷鍵可以在 <a href="chrome://extensions/shortcuts" target="_blank"
                                rel="noopener noreferrer">Chrome Extensions Shortcuts</a> 進行自訂。</li>
                    </ul>
                </div>
                <h4 class="title is-5">使用者設定</h4>
                <form id="form-setting" method="post">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">下載方式</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <label class="label"></label>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" id="downloadType2" name="download_type" value="manual" checked>
                                        手動下載
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="downloadType1" name="download_type" value="auto">
                                        自動下載
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">儲存路徑</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-expanded">
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input id="downloadPath" name="download_path" class="input" type="text" disabled>
                                    </p>
                                </div>
                                <p class="help">下載方式為自動下載時，預設將儲存在此路徑下。</p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">區分資料夾</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <label class="label"></label>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" id="folderType0" name="folder_type" value="none" checked>
                                        不區分
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="folderType1" name="folder_type" value="channel">
                                        以頻道名稱區分
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Danger Zone -->
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">危險功能</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-danger" id="btn-delete-all">
                                        <span class="icon is-small">
                                            <span class="material-symbols-outlined">
                                                delete
                                            </span>
                                        </span>
                                        <span>刪除所有截圖</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="field is-grouped is-justify-content-flex-end">
                        <div class="control">
                            <button class="button is-success">儲存設定</button>
                        </div>
                        <div class="control">
                            <button class="button">取消</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</body>

</html>