:root {
  --dark-mode-font-color: white;
  --dark-mode-bg-main-color: black;
  --dark-mode-bg-sub-color: #212225;
  /* --dark-mode-main-color: #fff;
  --dark-mode-sub-color: #fff; */
  --dark-mode-border-color: #3c3d41;

  --light-mode-font-color: #4a4a4a;
  --light-mode-bg-main-color: #f5f5f5;
  --light-mode-bg-sub-color: white;
  /* --light-mode-main-color: #fff;
  --light-mode-sub-color: #fff; */
  --light-mode-border-color: #dbdbdb;
}

/* Common */
.is-absolute {
  position: absolute !important;
}

.d-none {
  display: none !important;
}

.transition-opacity {
  /* transition: opacity 120ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 50ms; */
  transition: opacity 120ms;
}

/* Material Design */

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  transition: transform 150ms;
}

.material-symbols-outlined.rotated {
  transform: rotate(180deg) scaleX(-1); /* Equal to rotateZ(45deg) */
}

/* body */

body {
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  padding: 2.5% 5%;
}

body.dark-mode {
  background-color: black !important;
  color: white !important;
}

body.light-mode {
  background-color: #f5f5f5 !important;
  color: #4a4a4a !important;
}

body.dark-mode > main {
  background-color: var(--dark-mode-bg-sub-color) !important;
}

body.light-mode > main {
  background-color: #fff;
}

/* button */

body.dark-mode .bar button {
  background-color: var(--dark-mode-bg-sub-color);
  border-color: var(--dark-mode-border-color);
  color: #f8f8f8;
}

body.dark-mode .bar button:hover {
  border-color: #a6a7a8;
}

body.light-mode .bar button {
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
}

body.light-mode .bar button:hover {
  border-color: #4a4a4a;
}

.screenshot-button {
  box-shadow: none;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  vertical-align: top;
  justify-content: center;
  line-height: 1.5;
  height: 2em;
  width: 2em;
  align-items: center;
  /* margin-bottom: 0.5rem;
  margin-right: 0.5rem; */

  background-color: transparent;
  border: 1px solid transparent;
  border-width: 1px;
  border-radius: 9999px;
  color: #dbdbdb;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
}

.screenshot-button:hover{
  color: #fff;
}

/* text */

label, .title {
  color: inherit !important;
}

.subtitle {
  color: #a6a7a8;
}

.screenshot .title {
  color: white !important;
}

.screenshot .subtitle {
  color: #dbdbdb;
}


body.dark-mode select,
body.dark-mode input[type='date'] {
  background-color: var(--dark-mode-bg-sub-color);
  border-color: var(--dark-mode-border-color);
  color: #f8f8f8;
}

/* main */

main {
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  display: block;
  padding: 2rem 3rem;
}

/* barã€filter-bar */

.bar {
  border-bottom: 1px solid #a6a7a8;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.filter-bar {
  padding-top: 0.5rem;
  /* padding-bottom: 15px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-bar > *:not(:last-child) {
  margin-right: 0.75rem;
}

.vl {
  background-color: #e6e5e5;
  border: none;
  display: block;
  width: 2px;
  margin: 0 20px !important;
}

/* modal */

.modal-content {
  width: 80% !important;
}

/* screenshot */

.screenshot-header::after {
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
  content: attr(data-datetime);
}

.screenshot > div:not(.is-overlay) {    
  opacity: 0;
}

.screenshot:hover > div:not(.is-overlay) {    
  opacity: 1;
}


.screenshot > .is-overlay {  
  background-color: black;
  opacity: 0;
  margin: 0.75rem;
}

.screenshot:hover > .is-overlay {
  opacity: 0.8;
}